@page "/tercero/{Id:int?}"
@inject NavigationManager Navegador;
@inject ObtenerTerceroUseCase ObtenerTerceroUseCase
@inject ModificarTerceroUseCase ModificarTerceroUseCase
@inject AgregarTerceroUseCase AgregarTerceroUseCase

@if (_esNuevoTercero)
{
    <h3>Agregando un nuevo Tercero</h3>
}
else
{
    <h3>Modificando al Tercero "@_tercero.Nombre", "@_tercero.Apellido" SiniestroID: "@_tercero.SiniestroId"</h3>
}


<input placeholder="Nombre" @bind="_tercero.Nombre" class="form-control">
<input placeholder="Apellido" @bind="_tercero.Apellido" class="form-control">
<input placeholder="DNI" @bind="_tercero.DNI" class="form-control">
<input placeholder="Telefono" @bind="_tercero.Telefono" class="form-control">
<input placeholder="Nombre de aseguradora" @bind="_tercero.NombreAseguradora" class="form-control">
@if (_esNuevoTercero){
    <input placeholder="id siniestro" @bind="_tercero.SiniestroId" class="form-control">
    <button class="btn btn-primary" @onclick="Agregar">Agregar</button>
}else {
    <button class="btn btn-primary" @onclick="Modificar">Editar</button>
}
@if (!string.IsNullOrEmpty(mensaje))
{
    <div style="color: @(mensajeClase == "success-message" ? "green" : "red")" >@mensaje</div>
}
@code {
    string mensaje="";
    string mensajeClase="";
    Tercero _tercero = new Tercero();
    void Agregar()
    {
        if (_esNuevoTercero){
            try{
                AgregarTerceroUseCase.Ejecutar(_tercero);
                _tercero = new Tercero();
                mensaje="Agregado correctamente.";
                mensajeClase = "success-message";
            }
            catch(Exception ex)
            {
                mensaje=ex.Message;
                mensajeClase = "error-message";
            }
        }
        else  ModificarTerceroUseCase.Ejecutar(_tercero);

    }

    [Parameter] 
    public int? Id {get; set;}
    bool _esNuevoTercero=true;

        protected override void OnParametersSet()
        {
            if(Id != null){
                var terceroHallado = ObtenerTerceroUseCase.Ejecutar(Id.Value);
                if(terceroHallado != null)
                    _tercero = terceroHallado;
                    _esNuevoTercero = false;
            }
        }
    
    void Modificar()
    {
        ModificarTerceroUseCase.Ejecutar(_tercero);
        _tercero = new Tercero();
        Navegador.NavigateTo("/listadoterceros");
        
    }
}
